<!DOCTYPE html/>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://api-teste-front-end-fc.herokuapp.com"/>
  <link rel="stylesheet" href="min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="preconnect" href="https://cdnjs.com/libraries/jquery.mask"
< script src =" https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script> 
$(function(){
  $("#app2").load("app2"); 
});
</script> 
  
  <title>Document</title>
</head>
<body>
  <div id="app"></div>
  

  <script src="produtos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script>

  new Vue({

   el: '#app',data:{errocpf: false} ,  data:{faltaletra: false}, data(){
     return{
       estados:[]
     };
   },
   

   
   data: {
    value: ''
  } 
     
   
   , methods:{   
     buscaCPF: function (e) {
 
    
      var cpf =  e.target.value; 
       var cpf2 = cpf.replace(/\D+/g, '').replace('-', '');
  
      
      fetch("https://api-teste-front-end-fc.herokuapp.com/profissionais?cpf=" + cpf2).then(response => {
          response.json().then(profissionais => {
            if (profissionais.length > 0) {
                this.errocpf = true;
               
              }else{
                this.errocpf = false;
               
             }
            

            
              })
            
            
             
});

      },  
      coloqueletra: function (e) {
      var nome =  e.target.value; 
      fetch("https://api-teste-front-end-fc.herokuapp.com/profissionais?nome=" + nome).then(response => {
          response.json().then(profissionais => {
            if (profissionais.length > 3 < 48) {
                this.faltaletra = true;
              
              }else{
                
                this.faltaletra = false;
              }
         })
        });
      
     

        
     
      },
      
     
 
 acceptNumber() {
        var x = this.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,1})(\d{0,8})/);
        this.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-'  + x[3] : ''  );
  
  
  },
  
  coloqueEstado: function (e) {
      var nome =  e.target.value; 
      fetch("https://api-teste-front-end-fc.herokuapp.com/profissionais?estados=" + estados).then(response => {
          response.json().then(estados => {
           return estados;
         })
        });
      },

  
   
                 
     

  },
   template: `
   
   <form>

    {{estados}}
  
    <div class="amarelo">
      <a href="index.html" id="botao-volte" type="button"><</a>
      <div class="conteudo">
        <div class="conteudo-img">
          <h1 class=" profissa   " >Sobre o profissional</h1>
        <h4 class=" detalhes "> Dados do Profissional</h4>
        <p class="frase1"> Nome Completo* 
        

       
       <input maxlength="10" @blur="coloqueletra"     type="text" class="especialidade  form-control  " placeholder="Digite o Nome Completo">
       <small class="text-danger"  v-if="faltaletra ">Minino 3 letras max 48</small>
       </p>
       <p class="frase2"> CPF* 
        

       
        <input maxlength="11"    onblur="formataCPF(this)" pattern="[0-9]{11}"   @blur="buscaCPF"   type="text" class="especialidade2  form-control  " placeholder="Digite o CPF"> 
         <small class="text-danger"  v-if="errocpf ">Cpf ja existe</small>
        </p>
        <p class="frase2"> Numero de Celular* 
        

       
        <input   v-model="value" @input="acceptNumber"  @blur="formataTelefone()" pattern="[0-9]{11}" type="text" class="especialidade2  form-control   " placeholder="Digite o Numero">
        </p>
          </br>

          <div class="row ">
                 <div class="col-2
               ">
               <p class="frase3">  Estado*   </p>
                
                 <select   onClick="coloqueEstado"  type="text" class=" estado form-control  " selected >Please select<option onClick="coloqueEstado()" value="">Estado</option>
            
        
                  </select>
                
               </div>
               <div class="col-2
               ">
               <p class="frase3"> Cidade*   </p>
                 <select type="text" class=" estado form-control" selected >Please select</option> <option value="">Cidade</option></select>
               </div> </div>
                

               <div class="row ">
        <div class="col-2
      ">
</br></br>
  <button id="botao2" type="button" class="btn btn-lg btn-primary botao"></button>   </div> 
 
  <div id="letraa"></br></br>
  <dt id="letraa">1 de 2. </dt> 
  </div></div>
      
 </br>
 
 <a href="index2.html" id="botao-comfirma" type="button">Proximo</a>


         
        
        
        </div>
        </div>
          </div>
          
          
      </form>

 
      `

        
 
    }) 

        </script>
 


       
      </template>
     

    





<script src="produtos.js"></script>


</body>
 



 


     
    
   

      
</html>